body {
    margin: 0;
    padding: 0;
}
.menu {
    width: 400px;
    margin: 0 auto;
}
h1,h3 {
    text-align: center;
}
.list-group-item {
    text-align: center;
}
.center-block {
    width: 1200px;
}
.table {
    width: 100%;
    margin: 0 auto;
}
form {
    width: 100%;
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;

}
.radio-inline:first-child {
    margin-left: 250px;
}
.form-control {
    height: 20px;
    width: 80px;
}
th:first-child, td:first-child {
    width: 150px;
}
th:last-child, td:last-child {
    width: 70px;
}
td:nth-child(1) {
    padding: 0;
}
.textarea {
    margin: 0;
    padding: 0;
    width: 100%;
}